.add-profile {
    color: #007bff;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
}

button.active.focus,
button.active:focus,
button.focus,
button.focus:active,
button:active:focus,
button:focus {
    outline: 0 !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
    box-shadow: none  !important;
}

.add-profile:hover {
    color: #1762ff
}

.passive-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.edit-btn {
    border:none;
    background-color: #f8f9fa;
    padding: 0;
}

.edit-btn:hover {
    color: #2693e6;
}
