.time-popup {
    background-color: white;
    z-index: 2000;
    position: absolute;
    min-width: 250px;
}

html, body {
    height: 100%;
}

.arr-btn:hover {
    background-color: #5a6268;
    color: white;
}
